<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="./signin.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Welcome to this page</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/signup" method="post">
                            <h3 class="text-center text-info">Sign Up</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Email:</label>
                                <input type="text" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Re-Enter Password:</label>
                                <input type="password" name="password2" id="password2" class="form-control"  onchange="check(password2,password)">
                            </div>
                            <div class="form-group"></label>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                                <a href="/login" class="text-info">Login here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function check(id, matchingId) {
            const input = document.getElementById(id);
            console.log(`${document.getElementById(id)}:${document.getElementById(matchingId)}`);
            if(input.value !== document.getElementById(matchingId).value ) {
                input.setCustomValidity('Passwords must be matching');
                document.getElementById(matchingId).setCustomValidity('Passwords must be matching');
            } else {
                input.setCustomValidity('');
            }
        }
    </script>
</body>

</html>
