<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Form</h1>
    <div>
        <form action="/form" method="POST">
            <fieldset>
                <legend>Personal Information</legend>
                <div>
                    Email <input type="email" name="email">
                </div>
                <div>
                    <label for="comment">Comment:</label><br/>
                    <textarea id='comment' name="comment" rows="4" cols="50"></textarea>
                </div>
                <div>
                    <button>Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>